.bg-img1 {
  height: 720px;
  width: 100%;
  background-color: #000;
  background-size: cover;
}
.bg-img2 {
  height: 720px;
  width: 100%;
  background-color: #000;
  background-size: cover;
}
.bg-img3 {
  height: 720px;
  width: 100%;
  background-color: #000;
  background-size: cover;
}
